.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.book-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
}

.book-card p, .book-card h3 {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.book-card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 6px;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #1a1a1a;
}   

.search-bar:focus {
    border-color: #646cff;
    box-shadow: 0 4px 10px rgba(100, 108, 255, 0.3);
    outline: none;
}

.search-bar::placeholder{
    font-family: "Poppins", sans-serif; 
}

button {
    background-color: #1a1a1a;
}