#back {
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #1a1a1a;
}

#back:hover {
    border-color: #646cff;
    box-shadow: 0 4px 10px rgba(100, 108, 255, 0.3);
    outline: none;
    transform: translateY(-2px);
}

#back:active {
  transform: scale(0.97);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
