body {
  font-family: Lucida Console;
  background-color: #fce5e5;
  color: #e11584;
  padding: 20px;
  text-align: center;
}

input {
  font-family: Lucida Console;
  padding: 8px 12px;
  margin: 10px;
  font-size: 16px;
  color: #e11584;
  background-color: #fce5e5;
  border-color: white
}
 button{
 background-color: #B47EDE;
   font-family: Lucida Console;
  padding: 8px 12px;
  margin: 10px;
  font-size: 16px;
  color: white;
  border-color: white
 }

.creature-display {
  margin-top: 20px;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

.stat-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #B47EDE;
  color: white;
  font-size: 16px;
}

.stat-table th, .stat-table td {
  border: 1px solid white;
  padding: 10px 15px;
  text-align: left;
}
#types{
  margin-top: auto;
  display: inline;
}
.special{
  margin-top: -65px;
}